<div id="pageFooterWrapper">
  <div id="pageFooter" class="container">

    <div class="ten columns">
      <ul class="footerNav">
        <li>
        <a href="/en/about">About</a>
        </li>
        <li>
        <a href="/en/credits">credits</a>
        </li>
        <li>
        <a href="/en/permissions">permissions</a>
        </li>
        <li>
        <a href="/en/links">Related Links</a>
        </li>
        <li>
        <a href="/en/donate">How to Give</a>
        </li>
      </ul>
    </div>
    <div class="six columns">
      <a class="noimage" href="http://www.harvard.edu" target="_blank">
        <img alt="Harvard Logo" src="../public/images/harvard.gif"></a>
      <p>
      Copyright © 2010  WWQI. All rights reserved.
      </p>
    </div>

  </div>
</div>
