
					<div class="item-head clearfix">

						<!-- AddThis Button BEGIN -->
						<div class="add_this_tools">
							<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
								<a class="addthis_button_preferred_1"></a>
								<a class="addthis_button_preferred_2"></a>
								<a class="addthis_button_preferred_3"></a>
								<a class="addthis_button_preferred_4"></a>
								<a class="addthis_button_compact"></a>
								<a class="addthis_counter addthis_bubble_style"></a>
							</div>
							<script type="text/javascript">
							var addthis_config =
							{
								data_track_clickback:true,
								ui_language:"en"
							};
							</script>
							<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=qajar"> </script>
						</div>
						<!-- AddThis Button END -->

						<div class="item-tools">
							<a rel="shadowbox[email];width=450px;height=420px;" title="Email Citation" href="#email-popup" class="email-citation left"><img class="icon" src="/images/ico_email.gif">  Email Citation</a>
							<a href="/archive/detail/1527/remember" class="left add-to-selection"><img class="icon" src="/images/ico_add.gif">  Add to My Selections</a>
						</div>
						<!-- TODO: Implement subcollections 

This depends on some modeling which doesn't exist yet.

<div class="sortnav paginate">
<div class="pagination">
<a href="/archive/browser?genre_filter[]=208">Back To Results</a>
<a href="/archive/detail/1524">Previous Item « </a>
<span class="counts">2 of 26 items</span>
<a href="/archive/detail/1520"> » Next Item</a>
</div>
</div>

-->
</div>
