<div id="print-popup" style="display:none;">
  <div id="print-popup-content" style="padding:20px;color:#fff;">
    <h2>Print</h2>
    <p>
    <!-- TOOD: Subcollections 
      This item has 24 images. I want to print:
    -->
    </p>
    <form>
      <div class="form_row">
        <input type="radio" name="print_type">
        Cover Page
      </div>
      <div class="form_row">
        <input type="radio" name="print_type">
        All Pages
      </div>
      <div class="form_row">
        <input type="radio" name="print_type">
        from
        <input type="text" name="print_from" id="print_from">
        to
        <input type="text" name="print_from" id="print_to">
      </div>
      <div class="form_row">
        <input type="submit" class="redButton" value="Print">
      </div>
    </form>
  </div>
</div>
