<form method="get" class="" action="<%= search_url %>">
  <input type="text" value="جستجوی کلیدواژه ای" name="query" class="swap_value" id="s" style="color: rgb(170, 170, 170); " onfocus="if(this.value=='Enter a keyword'){this.value='';this.style.color = '#000';}" onblur="if(this.value==''){this.value='Enter a keyword';this.style.color = '#aaa';}">
  <button id="search" type="submit"></button>
  <input type='hidden' name='lang' value='fa'></input>
</form>
