<form class='searchform' method='GET' action='<%= ENV["SEARCH_URL"] %>'>
  <input type="text" value="<%= respond_to?(:params) ? params["query"] : "" %>" placeholder="<%= t('search_prompt') %>" name="query" class="swap_value" id="s" />
  <input type='hidden' name='lang' value='<%= @lang %>' />
  <button id="search" type="submit"></button>
</form>
