<form method='GET' action='/search'>
  <label for='query'>Enter a keyword</label>
  <input type='text' id='query' name='query' value="<%= @query %>"></input> 
  <input type='hidden' name='lang' value='en'></input>
  <input type='submit' value='Search'></input>
</form>
<a lang='fa' dir='rtl' href="/fa">جستجوی فارسی</a>

