<%= partial :header %>
<div id="content" class="static-content">
  <div class="container clearfix white-paper-stack top-of-page"><div class="stacks"></div></div>
  <div class="container clearfix">
    <div class="clearfix shaded-panel">
      <div>
        <div class="extra-padding" > 
          <% if @lang.to_sym == :en %>
            <h1>About the WWQI Project</h1>
            <h2>Goals and Scope</h2>
            <p>The goal of Women's Worlds in Qajar Iran is to address a gap in scholarship and understanding of the lives of women during the Qajar era (1796 - 1925) in Iran by developing a comprehensive digital resource that preserves, links, and renders accessible primary-source materials related to the social and cultural history of women's worlds in Qajar Iran. Through the use of technology it brings together little known archives scattered across the world.</p>
            <p>Given the dearth of available primary-source materials related to women in the Qajar era, it is not surprising that, to date, the vast majority of Qajar social histories have focused almost exclusively on the struggles, achievements, and day-to-day realities of the men of that period. This is in part a matter of expediency; while men's writing have been easily accessible in various national archives for decades (and many have in more recent years been published in edited volumes), most women's writings, photographs, and other personal papers have to date remained sequestered in private family hands. </p>
            <p>WWQI aims to open up the documented social and cultural histories of Qajar women, thus allowing for the examinations of broader patterns of life during this era. Our collection has paid specific attention to materials that will illuminate women's relations to each other and to family members of various generations, their roles in life cycle rituals, their perceptions of women outside Iran (the Ottoman Empire, South Asia, and Europe, in particular), and the interconnections that women's activities, networks, and allegiances wove between various ethnic and religious communities. The Qajar period is known for a flourishing of all forms of artistic expression, most notably calligraphies and a distinctive, European-influenced style of portraiture; for a diversity of religious beliefs and practices; and for a new opening of Iran to other nations and cultures. Beyond simply historians of women's studies and/or the Qajar period, we hope that scholars and students of art and art history, religion, comparative literature, and languages&mdash;to name just a few broad areas of study&mdash;will find much within this archive that deepens or expands their work. </p>
            <p>In 2009, Women's World in Qajar Iran received a two-year grant from the National Endowment for the Humanities that enabled the initial phase of the project. This phase of the project was led by a team of scholars,
            Dominic Parviz Brookshaw, Manoutchehr M. Eskandari-Qajar, Nahid Mozaffari, Naghmeh Sohrabi, and Afsaneh Najmabadi, under project management of Ramyar Rossoukh. The initial website
            and database were developed by Charles Forcey of Historicus, Inc. and Pendar Yousefi of Mahimoto.</p>
            <h2>Digital Holdings</h2>
            <p>This project uses digital technology to overcome barriers of geography, ownership, and politics&mdash;thus opening the way for important, new scholarship. The materials included in the archive are not only those contained in private archives and manuscripts but also published materials from the Middle Eastern Collection in Widener Library and other institutions. They consist of:</p>
            <ul class="simple">
              <li>Writings: letters, prose, poetry, travel writings, essays, periodicals, and diaries</li>
              <li>Legal documents: wedding contracts, dowry documents, settlements, endowments, powers of attorney, wills, sales, and other financial contracts </li>
              <li>Artworks: calligraphy, painting, embroidery, weaving, other handicrafts, music, and film </li>
              <li>Photographs </li>
              <li>Everyday objects</li>
              <li>Oral histories</li>
            </ul>
            <h2>Storage and Access</h2>
            <p>The Harvard University Library (HUL) central infrastructure accommodates all image, text, and audio materials collected for this archive. All WWQI materials can be accessed through the following Harvard University Library catalogues as well:</p>
            <p>Visual Information Access (VIA) system&mdash;VIA is a publicly available union catalog of visual resources at Harvard. VIA includes information about slides, photographs, objects, and artifacts in the university's libraries, museums, and archives, and provides a web-based interface for searching and viewing visual image cataloging and related thumbnail images. Records in VIA are contributed to the system from a variety of local cataloging systems at participating libraries, archives, and museums. All still image material gathered for this project will be cataloged at item-level and delivered through VIA.</p>
            <p>OLIVIA&mdash;OLIVIA is a centrally-supported cataloging system for visual materials, designed to provide data to the VIA union catalog. OLIVIA provides a cataloging environment specifically designed for images, based on the latest thinking in and on developing standards in the visual resources community. As a client/servers application, OLIVIA is available to any Harvard repository that wants to contribute image cataloging to VIA but does not already have a collection management or cataloging system in-house. Catalog records for all visual images collected for this project will be created in the OLIVIA catalog. </p>
            <p>HOLLIS Catalog&mdash;The HOLLIS Catalog of the Harvard University Libraries, the main bibliographic catalog at Harvard, is a database containing over 9 million records for more than 15 million books, journals, manuscripts, government documents, maps, microforms, music scores, sound recordings, visual materials, and data files. The database is updated continually as material is ordered, received, and cataloged. </p>
            <h2><strong>Sponsors</strong></h2>
            <ul>
              <p> Harvard University, Faculty of Arts and Sciences, Office of the Dean </p>
              <li><a href="http://www.neh.gov" target="_blank">The National Endowment for the Humanities</a> </li>
              <li><a href="http://www.ilexfoundation.org/" target="_blank">The Ilex Foundation</a></li>
              <li><a href="http://www.florafamily.org/" target="_blank">The Flora Family Foundation</a> </li>
            </ul>
            <p> Afsar Farman-Farmaian </p>
          <% else %>
            <h1>درباره ما</h1>
            <h2>اهداف و حیطه آرشیو</h2>
            <p>هدف اساسی این آرشیو فائق آمدن بر خلاء چشمگیری است که در زمینه پژوهشها و دانش در باره دوران قاجار موجود است. تنها اندک بخشی از پژوهشهای موجود به زندگی زنان این دوره می پردازد. با توجه به کمبود اسناد دست اول در ارتباط با زنان، جای تعجب نیست که تا به امروز غالب روایات تاریخ اجتماعی قاجار بر جنگها، دستاوردها، و واقعیات روزمره زندگی مردان در آن دوره تمرکز داشته است. دلیل این امر از جمله آن است که نوشته های مردان در بایگانی های متعدد ملی برای دهه ها (و در سالهای اخیر در قالب مجلدات چاپی) به آسانی در دسترس بوده، حال آنکه اغلب نوشته ها، عکس ها، و دیگر اوراق شخصی زنان در دست خانواده ها باقی مانده است. دستیابی به تصویری کامل تر از گذشته غنی و پیچیده ایران بدون دسترسی همگانی به این اسناد ممکن نخواهد شد </p>
            <p>با استفاده از تکنولوژی جدید و از راه دیجیتالی کردن و ارائه یک وبسایت جامع، این طرح می کوشد تا این خلاء تاریخ نگاری را جبران کند، بر محدودیتهای ناشی از پراکندگی جغرافیایی و قبضه ملکی فائق آید و مجموعه ارزشمندی از تصاویر دیجیتالی نوشته ها و عکس ها و دیگر منابع را که در حال حاضر در مکان های مختلف و نزد صاحبان متعدد پراکنده است در یک جا و به شکل ذخیره ای جستجوپذیر فراهم آورد. </p>
            <p> در سال ۲۰۰۹، «دنیای زنان در عصر قاجار» موفق به دریافت بودجه دوساله از بنیاد سراسری علوم انسانی شد که آغاز این کار را میسر ساخت. مرحله آغازین این پروژه با همکاری گروه پژوهشگران، منوچهر اسکندری قاجار، دامینیک پرویز بروکشاو، نغمه سهرابی، ناهید مظفری، و افسانه نجم آبادی، تحت نظر مدیریت اجرایی رامیار رسوخ به اجرا در آمد. طراحی و تعبیه وبسایت در این مرحله محصول کار چارلز فُرسی از شرکت هیستاریکس و پندار یوسفی از شرکت ماهیموتو است. </p>
            <h2>مجموعه دیجیتالی</h2>
            <p>محتویات این آرشیو شامل این گونه اسناد است:</p>
            <ul class="simple">
              <li>مکتوبات منثور و منظوم، از جمله نامه ها، مقالات، سفرنامه ها و رساله ها، نشریات زنان</li>
              <li>قباله ها از جمله نکاح نامه، پشه نامه، صلح نامه، وکالت نامه، وقفنامه</li>
              <li>آثار هنری، ازجمله نقاشی، سوزن دوزی و خطاطی</li>
              <li>عکس ها</li>
              <li>اشیاء زندگی روزمره</li>
              <li>تاریخ شفاهی</li>
            </ul>
            <p> وبسایت  «دنیای زنان در عصر قاجار»، که «مرکز خدمات مجموعه های مجازی» در کتابخانه دانشگاه هاروارد میزبان آن است، به روی عموم باز است، و کلیه اطلاعات آن به دو زبان انگلیسی و فارسی در دسترس خواهد بود. برای اطلاع بیشتر از امکانات  «مرکز خدمات مجموعه های مجازی» به بخش انگلیسی مراجعه کنید.</p>
            <h2>حامیان</h2>
            <p>با تشکر از نهادها و افراد زیر که کمکهای سخاوتمندانه شان این آرشیو را ممکن کرده است:</p>
            <p> دانشگاه هاروارد، دفتر ریاست بخش فنون و علوم </p>
            <ul>
              <li><a href="http://www.neh.gov" target="_blank">بنیاد سراسری علوم انسانی</a> </li>
              <li><a href="http://www.ilexfoundation.org/" target="_blank">بنیاد آیلکس</a></li>
              <li><a href="http://www.florafamily.org/" target="_blank">بنیاد خانوادگی فلورا</a> </li>
            </ul>
            <p>افسر فرمانفرماییان</p>
          <% end %>
        </div>
      </div> <!-- end container -->
    </div>
  </div>
</div>
<%= partial :footer %>
