<%= partial :header %>
<div id="content">
	<div class="container clearfix white-paper-stack top-of-page"><div class="stacks"></div></div>
  <div class="container clearfix">
    <div class="clearfix shaded-panel">
      <div>
        <div class="extra-padding">
          <% if @lang.to_sym == :en %>
            <div id="wufoo-z7x3x5">
              <a href="http://wwqi.wufoo.com/forms/m7x3r3"><%= t('get-in-touch', :en) %></a>
            </div>
            <script type="text/javascript">var z7x3x5;(function(d, t) {
            var s = d.createElement(t), options = {
            'userName':'wwqi', 
            'formHash':'z7x3x5', 
            'autoResize':true,
            'height':'680',
            'async':true,
            'header':'show'};
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function() {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { z7x3x5 = new WufooForm();z7x3x5.initialize(options);z7x3x5.display(); } catch (e) {}};
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');</script>
          <% else %>
            <div id="wufoo-m7x3r3">
              <a href="http://wwqi.wufoo.com/forms/m7x3r3"><%= t('get-in-touch', :fa) %></a>
            </div>
            <script type="text/javascript">var m7x3r3;(function(d, t) {
            var s = d.createElement(t), options = {
            'userName':'wwqi', 
            'formHash':'m7x3r3', 
            'autoResize':true,
            'height':'680',
            'async':true,
            'header':'show'};
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function() {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { m7x3r3 = new WufooForm();m7x3r3.initialize(options);m7x3r3.display(); } catch (e) {}};
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');</script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial :footer %>
