<%= partial :header %>
<div id="content">
  <div class="container clearfix">
    <div class="clearfix shaded-panel">
      <div class="page-head">
        <div class="extra-padding">
          <% if @lang.to_sym == :en %>
            <h1>Credits</h1>
            <h2>Principal Investigator </h2>
            <p>Afsaneh Najmabadi, Harvard University</p>
            <h2>Board of Advisors</h2>
            <p>Nuzhat Ahmadi (History, al-Zahra University)</p>
            <p>Asieh Aleahmad (Historian, independent scholar, Tehran)</p>
            <p>Abbas Amanat (History, Yale University)</p>
            <p>Kaveh Bayat (Historian, independent scholar, Tehran)</p>
            <p>Houri Berberian (History, California State University, Long Beach)</p>
            <p>Dominic Parviz Brookshaw (Literature, Stanford University)</p>
            <p>Houchang Chehabi (International Relations, Boston University)</p>
            <p>Layla S. Diba (Art historian, independent scholar)</p>
            <p>Manoutchehr Eskanadi-Qajar (President, International Association of Qajar Studies)</p>
            <p>Mansoureh Ettehadieh (History, Tehran University)</p>
            <p>Simin Fasihi (History, al-Zahra University)</p>
            <p>Gene Garthwaite (History, Dartmouth College)</p>
            <p>Talinn Grigor (Art History, Brandies University)</p>
            <p>Margaret Hale (Librarian for Collections Digitization, Harvard College Library)</p>
            <p>Firoozeh Kashani-Sabet (History, University of Pennsylvania)</p>
            <p>Arash Khazeni (History, Pomona College)</p>
            <p>Jasmin Khosravie (Islamic Studies, University of Bonn)</p>
            <p>Rudi Matthee (History, University of Delaware)</p>
            <p>Ali Miransari (Historian, Tehran, CGIE)</p>
            <p>Fatemeh Moezzi (Historian, independent scholar, Tehran)</p>
            <p>Nahid Mozaffari (Historian, New York University)</p>
            <p>Mehdi Nour Mohammadi (Historian, independent scholar, Qazvin)</p>
            <p>Dariush Rahmanian (History, Tehran University)</p>
            <p>Ramyar Rossoukh (Anthropology, Harvard University)</p> 
            <p>Jasamin Rostam-Kolayi (History, California State University, Fullerton)</p>
            <p>Gholamreza Salami (Historian and archivist, independent scholar, Tehran)</p>
            <p>Sunil Sharma (Literary scholar, Boston University)</p>
            <p>Matthew Smith (Middle East Librarian, Widener Library, Harvard University)</p>
            <p>Naghmeh Sohrabi (History, Brandies University)</p>
            <p>Jeff Spurr (Qajar photography, independent scholar)</p>
            <p>Farideh Taheri (Art historian, independent scholar, Tehran)</p>
            <p>Mohammadreza Tahmasbpour (Historian of photography, independent scholar, Tehran)</p>
            <p>Akbar Taghizadeh (Urban architecture and development, independent scholar, Tabriz)</p>
            <p>Farzin Vejdani (History, University of Arizona)</p>
            <p>Heidi Walcher (History, SOAS, London University)</p>
            <p>Dalia Yasharpour (Literature, Harvard University)</p>
            <p>Roxane Zand (Historian, independent scholar, London)</p>
            <h2>Financial Administrator</h2>
            <p>Cory Paulsen, Harvard University</p>
            <h2>Website and Database Development</h2>
            <p>Vermonster</p>
            <h2>Website Design</h2>
            <p>Pendar Yousefi, Mahimoto</p>
            <h2>Special Thanks</h2>
            <p>Tara Murphy, Peter Katz, Saeed Behrouzi, Nasrin Maleki, Farshideh Mirbaghdadabadi, Sohrab Mahdavi, Shirin Jaafari, Mahbube Moghadam, Sourena Parham, Azadeh Tajpour</p>
          <% else %>
            <h1>همکاران</h1>
            <h2>پژوهشگر سرپرست</h2>
            <p>افسانه نجم آبادی، دانشگاه هاروارد</p>
            <h2>هیأت مشاوران</h2>
            <p>آسیه آل احمد، پژوهشگر تاریخ، تهران</p>
            <p>منصوره اتحادیه، تاریخ، دانشگاه تهران</p>
            <p>نزهت احمدی، تاریخ، دانشگاه الزهرا</p>
            <p>جف اسپر، پژوهشگر تاریخ عکاسی، کمبریج</p>
            <p>منوچهر اسکندری قاجار، رئیس انجمن بین المللی مطالعات قاجار</p>
            <p>متیو اسمیت، پژوهشگر ادبیات و کتابدار متخصص، کتابخانه وایدنر، دانشگاه هاروارد</p>
            <p>عباس امانت، تاریخ، دانشگاه ییل</p>
            <p>هوری بربریان، تاریخ، دانشگاه ایالتی کالیفرنیا، لانگ بیچ</p>
            <p>دامینیک پرویز بروکشاو، ادبیات، دانشگاه استانفورد</p>
            <p>کاوه بیات، پژوهشگر تاریخ، تهران</p>
            <p>اکبر تقی زاده، عمران و معماری شهری، تبریز</p>
            <p>آرش خازنی، تاریخ، کالج پمونا</p>
            <p>یاسمن خسروی، مطالعات اسلامی، دانشگاه بن</p>
            <p>لیلا دیبا، پژوهشگر تاریخ هنر، نیویورک</p>
            <p>داریوش رحمانیان، تاریخ، دانشگاه تهران</p>
            <p>یاسمن رستم کلایی، تاریخ، دانشگاه ایالتی کالیفرنیا، فولرتن</p>
            <p>رامیار رسوخ، مردم شناسی، دانشگاه هاروارد</p>
            <p>رکسان زند، پژوهشگر تاریخ، لندن</p>
            <p>غلامرضا سلامی، پژوهشگر تاریخ، تهران</p>
            <p>نغمه سهرابی، تاریخ، دانشگاه برندایز</p>
            <p>سونیل شرما، ادبیات، دانشگاه بُستن</p>
            <p>هوشنگ شهابی، مطالعات بین المللی، دانشگاه بُستن</p>
            <p>فریده طاهری، پژوهشگر تاریخ هنر، تهران</p>
            <p>محمدرضا طهماسب پور، پژوهشگر تاریخ عکاسی، تهران</p>
            <p>سیمین فصیحی، تاریخ، دانشگاه الزهرا</p>
            <p>فیروزه کاشانی ثابت، تاریخ، دانشگاه پنسیلوانیا</p>
            <p>جین گارتویت، تاریخ، کالج دارتموت</p>
            <p>تالین گرگور، تاریخ هنر، دانشگاه برندایز</p>
            <p>رودی متاو، تاریخ، دانشگاه دلور</p>
            <p>ناهید مظفری، تاریخ، دانشگاه نیویورک</p>
            <p>فاطمه معزی،  پژوهشگر تاریخ، تهران</p>
            <p>علی میرانصاری، پژوهشگر تاریخ و ادبیات، مرکز دائرة المعارف بزرگ اسلامی</p>
            <p>مهدی نورمحمدی، پژوهشگر تاریخ، قزوین</p>
            <p>فرزین وجدانی، تاریخ، دانشگاه آریزونا</p>
            <p>هایدی وشلر، تاریخ، دانشگاه لندن</p>
            <p>مارگرت هیل، کتابدار مجموعه های دیجیتال، کتابخانه وایدنر، دانشگاه هاروارد</p>
            <p>دالیا یاشارپور، ادبیات، دانشگاه هاروارد</p>
            <h2>مسؤول امور مالی</h2>
            <p>کُری پالسن</p>
            <h2>تعبیه وبسایت</h2>
            <p>ورمانستر</p>
            <h2>طراحی وبسایت</h2>
            <p>پندار یوسفی، ماهیموتو</p>
            <h2>با سپاس بسیار از:</h2>
            <p>تارا مرفی، پیتر کتز، سعید بهروزی، نسرین ملکی، فرشیده میربغدادآبادی، سهراب مهدوی، شیرین جعفری، محبوبه مقدم، سورنا پرهام، آزاده تاج پور</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial :footer %>
