<%= partial :header %>
<div id="content">
  <div class="container clearfix">
    <div class="clearfix shaded-panel">
      <div class="page-head">
        <div class="extra-padding">
          <% if @lang.to_sym == :en %>

            <h1>How to Give</h1>
            <p><strong>Thank you for your interest in making a gift to Women’s Worlds in Qajar Iran. We appreciate your support!</strong></p>

            <h2> Make a Gift </h2>
            <p> WWQI relies on the financial generosity of donors to raise funds to support the on-going acquisition, digitization and preservation of archival materials. Gift donations are tax-deductible. </p>

            <p>To make a gift, please make check payable to: "President and Fellows of Harvard College."  In the memo section of the check, specify the allocation of the gift to the “Women’s Worlds in Qajar Iran Fund.” Mail to:</p>

            <p>Women’s Worlds in Qajar Iran <br />
            WGS, Boylston Hall <br />
            Harvard University <br />
            Cambridge, MA 02138<br />
            USA</p>

            <p>To make a gift by credit card, please click <a href="https://secure.www.alumniconnections.com/olc/pub/HAA/onlinegiving/showGivingForm.jsp?form_id=60847">here</a> and follow the instructions for making a Harvard University gift.  When selecting a school/affiliate to donate to, please choose “Other” from the dropdown menu and enter a note in the “Comments/Other Designation” box with instructions that this gift should go to the “Women's Worlds in Qajar Iran Fund”.</p>

            <p> For more information, email us at <a href="mailto:wwqi@fas.harvard.edu">wwqi@fas.harvard.edu</a> or call 617-496-7460. </p>

            <p><strong>If you have materials that you would like to include in our archive, please email us at <a href="mailto:wwqi@fas.harvard.edu">wwqi@fas.harvard.edu</a> and one of our researchers will promptly contact you to make appropriate arrangements.</strong></p>
          <% else %>
            <h1>یاری شما</h1>
            <p><strong>با تشکر از علاقه شما. پروژه «دنیای زنان در عصر قاجار» مدیون کمکهای شماست.</strong></p>
            <h2>چگونه می توانید به ما کمک کنید</h2>
            <p> دنیای زنان در عصر قاجار مدیون سخاوتمندی افرادی است که با کمکهای مالی خود در گردآوری، تصویربرداری، حفظ اسناد و اشیاء، و گسترش وبسایت به ما یاری می رسانند. کمکهای شما مشمول معافیت مالیاتی می شود.</p>
            <p>برای کمک به این پروژه، چک در وجه
            President and Fellows of Harvard College 
            نوشته شود و در قسمت یادداشت چک ذکر گردد:
            "For Women’s Worlds in Qajar Iran Fund" 
            لطفا چک خود را به نشانی زیر پست کنید:</p>
            <p>Women’s Worlds in Qajar Iran <br />
            WGS, Boylston Hall <br />
            Harvard University <br />
            Cambridge, MA 02138<br />
            USA</p>

            <p>برای استفاده از کارت اعتباری، لطفا به این لینک مراجعه کنید <a href="https://secure.www.alumniconnections.com/olc/pub/HAA/onlinegiving/showGivingForm.jsp?form_id=60847">اینجا</a> و راهنماییهای آن را برای کمک به دانشگاه هاروارد دنبال کنید. در قسمت انتخاب کمک به کدام دانشکده یا مؤسسه وابسته، “Other” را انتخاب کنید و در قسمت “Comments/Other Designation” لطفا اضافه کنید: This gift should go to the Women's Worlds in Qajar Iran Fund  </p>

            <p> برای کسب اطلاعات بیشتر با ما از طریق نشانی زیر <a href="mailto:wwqi@fas.harvard.edu">wwqi@fas.harvard.edu</a> و یا تلفن ۶۱۷۴۹۶۷۴۶۰  تماس بگیرید. </p>

            <p><strong>اگر اسناد و اشیایی دارید که علاقه مندید به وبسایت اضافه شود، از طریق این ایمیل <a href="mailto:wwqi@fas.harvard.edu">wwqi@fas.harvard.edu</a> با ما تماس بگیرید و یکی از پژوهشگران ما ترتیب این کار را خواهد داد.</strong></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial :footer %>
