<%= partial :header %>
<div id="content">
  <div class="container clearfix">
    <div class="clearfix shaded-panel">
      <div class="page-head">
        <div class="extra-padding">
          <% if @lang.to_sym == :en %>
            <h1>FAQ</h1>
            <h2><a href="#s1">About Women’s Worlds in Qajar Iran</a></h2>
            <ul>
              <li><a href="#q1">What is the Women’s Worlds in Qajar Iran (WWQI) project?</a></li>
              <li><a href="#q2">How do you define &quot;Qajar era?&quot; </a></li>
              <li><a href="#q3">Where do you keep the actual objects and can I view them?</a></li>
              <li><a href="#q4">Can you provide me with contact information for the owners of these objects?</a></li>
              <li><a href="#q5">I own some materials that I would like to include in your archive. What do I do?</a></li>
              <li><a href="#q6">Can I still support the project even if I don’t have any materials relevant to the archive?</a></li>
            </ul>
            <h2><a href="#s2">About conducting research on the WWQI website</a></h2>
            <ul>
              <li><a href="#q7">What are the different ways I can browse and search for materials?</a></li>
              <li><a href="#q8">What is &quot;My Selections&quot;?</a></li>
              <li><a href="#q9">Do I get the same results if I search in English or Persian? </a></li>
              <li><a href="#q10">What transliteration system is used for Persian names and places? </a></li>
              <li><a href="#q11">How do I properly cite an item?</a></li>
              <li><a href="#q12">How do I download or print images?</a></li>
            </ul>
            <h2><a href="#s3">About the technical aspects of the WWQI website</a></h2>
            <ul>
              <li><a href="#q13">What software do I need to view the website?</a></li>
              <li><a href="#q14">What technology is behind the website?</a></li>
            </ul>
            <h2><a name="s1" id="s1"></a>About Women’s Worlds in Qajar Iran</h2>
            <h3><a name="q1" id="q1"></a>What is the Women’s Worlds in Qajar Iran (WWQI) project?</h3>
            <p>WWQI is a digital archive and website of materials related to the lives of women during the Qajar era, including writings, photographs, financial and legal documents, art work, and objects of daily use. The project’s team of researchers identifies relevant materials from both private collections and institutions around the world. The project then digitizes the materials according to the specifications laid out by Harvard University, and makes them publicly available in searchable form on the WWQI website. </p>
            <h3><a name="q2" id="q2"></a>How do you define &quot;Qajar era?&quot; </h3>
            <p>We define Qajar era in a broad sense, inclusive of the period immediately preceding and following the dynastic period. </p>
            <h3><a name="q3" id="q3"></a>Where do you keep the actual objects and can I view them?</h3>
            <p>Women’s Worlds in Qajar Iran is a virtual archive. It does not physically hold any of the objects displayed in the archive. Please consult the repository records for further information on the physical location of objects.</p>
            <h3><a name="q4" id="q4"></a>Can you provide me with contact information for the owners of these objects?</h3>
            <p>Women’s Worlds in Qajar Iran is not authorized to provide additional information not included on the website or act as an intermediary between owners and website users.</p>
            <h3><a name="q5" id="q5"></a>I own some materials that I would like to include in your archive. What do I do?</h3>
            <p>Email us at <a href="mailto:wwqi@fas.harvard.edu">wwqi@fas.harvard.edu</a> and one of our researchers will promptly contact you to make appropriate arrangements.</p>
            <h3><a name="q6" id="q6"></a>Can I still support the project even if I don’t have any materials relevant to the archive?</h3>
            <p>WWQI depends on the financial generosity of private donors to raise funds to support the on-going acquisition, digitization and preservation of archival materials. Additional funding is also needed to support the translation of selected texts into English to help make the archive accessible to a wider audience. If you or anyone you know would like to donate, please contact us at <a href="mailto:wwqi@fas.harvard.edu">wwqi@fas.harvard.edu</a></p>
            <h2><a name="s2" id="s2"></a>About conducting research on the WWQI website</h2>
            <h3><a name="q7" id="q7"></a>What are the different ways I can browse and search for materials?</h3>
            <p>Click &quot;Browse&quot; to go to the main archive page. From here you can browse and search in a number of ways:</p>
            <ul class="simple">
              <li>Use the left navigation bar to browse by genre, collections, people, places, and periods. Refine your results by selecting additional categories revealed by your selection(s) or remove categories to return to earlier results. Click &quot;Reset&quot; to start again.</li>
              <li>Enter a keyword in the search bar to find items that match your search terms. Resulting matches can be further refined through the left navigation bar. Use &quot;Advanced Search&quot; to select specific parameters and/or year ranges.</li>
              <li>Use the indices to browse through our list of people, genres, places and subjects.</li>
            </ul>
            <p>Click on &quot;Collections&quot; to browse information on groups of items from featured family holdings and participating repositories. Collection records provide more expansive catalog information on items found in the archive as well as links to download findings aid, if available. Individual collection records can also be accessed by clicking the &quot;arrow&quot; icon next to collection names in the left navigation bar.</p>
            <h3><a name="q8" id="q8"></a>What is &quot;My Selections&quot;?</h3>
            <p>&quot;My Selections&quot; is a unique tool that allows you to gather items from the archive for later review and email multiple citation records. Collect items by clicking on &quot;Add to My Selections&quot; throughout the site. Please note: My Selections records are not saved across sessions.</p>
            <h3><a name="q9" id="q9"></a>Do I get the same results if I search in English or Persian? </h3>
            <p>Yes. The Persian and English sides of the website are mirror reflections of each other. &nbsp;For example, you get the same result search for &quot;food&quot; as a keyword in the English archival pages as you would for «غذا» in Persian. </p>
            <h3><a name="q10" id="q10"></a>What transliteration system is used for Persian names and places? </h3>
            <p>The spelling of people and places often reflect authority records and may therefore be presented in unusual or unfamiliar form. The transliteration convention adopted on the website is based on a simplified form of the ALA-LC Romanization Tables for Persian used in the majority of online library databases, including the Library of Congress. If a name or place search produces no results, try alternate spellings or use a wildcard. For more detailed information on conducting searches, consult Search Tips on the Advanced Search page. </p>
            <h3><a name="q11" id="q11"></a>How do I properly cite an item?</h3>
            <p>Citations should reference Women’s World in Qajar Iran, the URL of the digital object, and, if applicable, the repository that holds the original, along with any descriptive information displayed with the item, such as:</p>
            <ul class="simple">
              <li>name of author/creator</li>
              <li>item/collection/record group title</li>
              <li>folder title, if applicable</li>
              <li>item description</li>
              <li>call number, if applicable</li>
            </ul>
            <h3><a name="q12" id="q12"></a>How do I download or print images?</h3>
            <p>Use the left navigation bar on an item view page to select from these options:</p>
            <ul class="simple">
              <li>Download PDF: for a print friendly view</li>
              <li>Download Images: for a high quality zip file of JPEG images</li>
              <li>Transcriptions/Translations (when available): use the controls in your browser to save or print these item views.</li>
            </ul>
            <h2><a name="s3" id="s3"></a>About the technical aspects of the WWQI website</h2>
            <h3><a name="q13" id="q13"></a>What software do I need to view the website?</h3>
            <p>A modern browser is recommended such as Firefox, Safari, Chrome and the latest versions of Internet Explorer. The Adobe Flash plugin is also required to view the high resolution images and is available at<a href="http://www.adobe.com/"> www.adobe.com</a>.</p>
            <h3><a name="q14" id="q14"></a>What technology is behind the website?</h3>
            <p>The archive is managed through the Ruby on Rails application framework and a MySQL relational database. </p>
          <% else %>
            <h1>سؤالات متداول</h1>
            <h2><a href="#s1">سوالات کلی درباره «زندگی زنان در عصر قاجار»</a></h2>
            <ul>
              <li><a href="#q1">«زندگی زنان در عصر قاجار» چگونه پروژه ای است؟</a></li>
              <li><a href="#q2">منظورشما از «عصر قاجار» چیست؟ </a></li>
              <li><a href="#q3">اشیاء معرفی شده در وبسايت در کجا نگهداری می شوند و آیا می توان آنها را دید؟</a></li>
              <li><a href="#q4">آیا شما ميتوانيد اطلاعات لازم برای تماس با صاحب اصلی آثار را در اختیار من بگذارید؟</a></li>
              <li><a href="#q5">صاحب آثاری هستم که علاقمندم به سایت «دنیای زنان درعصر قاجار» اضافه شود. چگونه این کار را انجام دهم؟</a></li>
              <li><a href="#q6">اگر آثاری برای اضافه کردن به آرشیو نداشته باشم، چگونه می توانم کمک کنم؟</a></li>
            </ul>
            <h2><a href="#s2">سوالهای مربوط به چگونگی انجام تحقیق در وبسایت دنیای زنان در عصر قاجار</a></h2>
            <ul>
              <li><a href="#q7">از چه راههایی می توانم این وبسایت را جستجو کنم؟</a></li>
              <li><a href="#q8">«انتخاب من» چیست؟</a></li>
              <li><a href="#q9">آیا اگر به فارسی یا انگلیسی جستجو کنم، نتایج یکی خواهد بود؟ </a></li>
              <li><a href="#q10">از چه سیستم آوانگاری در تبدیل اسامی و اماکن  فارسی به انگلیسی استفاده شده؟</a></li>
              <li><a href="#q11">طریق صحیح ارجاع به مدارک آرشیو چیست؟</a></li>
              <li><a href="#q12">برای چاپ و یا دانلود چه باید بکنم؟</a></li>
            </ul>
            <h2><a href="#s3">سوالهای فنی مربوط به وبسایت «دنیای زنان در عصر قاجار»</a></h2>
            <ul>
              <li><a href="#q13">برای استفاده از وبسایت به چه نرم افزاری نیازمندم؟</a></li>
              <li><a href="#q14">از چه سیستم فنی در ساختمان این سایت استفاده شده است؟</a></li>
            </ul>
            <h2><a name="s1" id="s1"></a>سوالات کلی درباره «زندگی زنان در عصر قاجار»</h2>
            <h3><a name="q1" id="q1"></a>« زندگی زنان در عصر قاجار» چگونه پروژه ای است؟</h3>
            <p>هدف وبسایت «دنیای زنان در عصر قاجار» جمع آوری و تصویربرداری از اسناد و اشیایی است که به نوعی به زندگی زنان آن دوره مرتبط می باشد. این آثار شامل نوشته ها، عکس، مدارک مالی و حقوقی، آثار هنری و اشیاء زندگی روزمره می باشد. تیم پژوهشی پروژه، آثار مرتبط را از مجموعه های شخصی و عمومی شناسایی کرده، و برای مستند نگاری آماده می سازد. اين پروژه آثار را بر اساس ظوابط  دانشگاه هاروارد به صورت دیجیتالی ثبت می كند و سپس به گونه ای بر روی وبسایت قرار می دهد که قابل جستجو باشد.</p>
            <h3><a name="q2" id="q2"></a>منظورشما از«عصر قاجار» چیست؟ </h3>
            <p>در این پروژه «عصر قاجار» را دوره ای گسترده، شامل دهه های قبل و بعد از سلطنت قاجار، تعریف می کنیم.</p>
            <h3><a name="q3" id="q3"></a>اشیاء معرفی شده در وبسايت در کجا نگهداری می شوند و آیا می توان آنها را دید؟</h3>
            <p>«دنیای زنان در عصر قاجار» آرشیوی مجازی است و آثار را به صورت فیزیکی نگهداری نمی کند. لطفا برای اطلاعات مربوط به محل تعلق هر یک ازاين اشیاء به رکورد مربوطه آن رجوع کنید.</p>
            <h3><a name="q4" id="q4"></a>آیا شما ميتوانيد اطلاعات لازم برای تماس با صاحب اصلی آثار را در اختیار من بگذارید؟</h3>
            <p>  «دنیای زنان در عصر قاجار» نمی تواند اطلاعاتی اضافه بر آنچه که در سایت موجود است در اختیار شما بگذارد و یا زمینه تماس بین صاحبان و کاربران را فراهم کند.</p>
            <h3><a name="q5" id="q5"></a>صاحب آثاری هستم که علاقمندم به سایت «دنیای زنان درعصر قاجار» اضافه شود. چگونه این کار را انجام دهم؟</h3>
            <p>از طریق این ایمیل  wwqi@fas.harvard.edu  با ما تماس بگیرید و یکی از پژوهشگران ما ترتیب این کار را خواهد داد.</p>
            <h3><a name="q6" id="q6"></a>اگر آثاری برای اضافه کردن به آرشیو نداشته باشم، چگونه می توانم کمک کنم؟</h3>
            <p>دنیای زنان در عصر قاجار  مدیون سخاوتمندی افرادی است که با کمکهای مالی خود در گسترش وبسایت و گردآوری، تصویربرداری و حفظ اسناد و اشیاء به ما یاری می رسانند. در حال حاضر ما همچنین نیازمند کمک مالی به منظور ایجاد بخش ترجمه آرشیو هستیم تا بتوانیم گزیده ای از منابع موجود در آرشیو را به زبان انگلیسی ترجمه کرده، در اختیار کاربران بیشتری قرار دهیم. اگر مایل هستید به ما کمک کنید، و یا شخصی را می شناسید که علاقه به کمک دارد، با ما از این طریق تماس حاصل فرمایید: wwqi@fas.harvard.edu </p>
            <h2><a name="s2" id="s2"></a>سوالهای مربوط به چگونگی انجام تحقیق در وبسایت دنیای زنان در عصر قاجار</h2>
            <h3><a name="q7" id="q7"></a>از چه راههایی می توانم این وبسایت را جستجو کنم؟</h3>
            <p>بر روی کلمه «گشت» کلیک کنید تا به صفحه اصلی آرشیو برسید. از آنجا می توانید به گشت و جستجوی اسناد از چندین راه بپردازید:</p>
            <ul class="simple">
              <li>از ستون راهنمای سمت راست این صفحه یکی از فیلترهای نوع، مجموعه، اماکن، موضوع، یا دوره را انتخاب کرده، گشت و جستجوی خود را آغاز کنید. در صفحه نتایج حاصل می توانید با انتخاب مقوله دیگری به نتایج دقیقتری دست یابید. فیلترهای انتخابی شما همواره در بالای ستون راهنما نشان داده می شود و می توانید برخی را حذف کنید و یا فیلتر تزه ای بیفزایید.برای شروع دوباره، «شروع از اول» را کلیک کنید. </li>
              <li>جستجوی کلیدواژه ای: واژه مورد نظر را در اینجا وارد کنید تا اقلام مربوطه را بیابید. می توانید نتایج حاصل را با استفاده از فیلترهای ستون راهنما دقیق تر کنید. می توانید از «جستجوی پیشرفته» برای انتخاب پارامترهای خاص یا دوره زمانی خاصی استفاده کنید. </li>
              <li>فهرست ها: از فهرست های نوع، افراد، اماکن، و موضوع برای یافتن مطالب و اقلام مورد نیاز استفاده کنید.</li>
            </ul>
            <p>برای دیدن اطلاعات مربوط به مجموعه های خانوادگی و یا مخزنهای آرشیوی روی «مجموعه ها» کلیک کنید. نشان هر یک از این مجموعه ها شما را به اطلاعات بیشتر در باره آن مجموعه هدایت می کند و به «کمک جستجوی» آن مجموعه (برای آن اقلامی که چنین صفحه ای دارند) پیوند می دهد. از راه کلیک کردن روی تیره ای که کنار نام هر مجموعه در فیلترهای سمت راست صفحه گشت موجود است نیز می توانید به محتوای هر مجموعه دست یابید.</p>
            <h3><a name="q8" id="q8"></a>«انتخاب من» چیست؟</h3>
            <p>«انتخاب من» به شما امکان می دهد تا اقلامی را که در حین گشت و جستجو می یابید برای مرور بیشتر ذخیره کنید و اطلاعات ارجاع را یکجا ایمیل کنید. با کلیک کردن روی «به انتخاب من اضافه شود» در هر صفحه ای که هستید اسناد مورد نظر را گردآورید. توجه کنید که اقلام انتخابی از یک نشست تا نشست دیگر حفظ نمی شود.</p>
            <h3><a name="q9" id="q9"></a>آیا اگر به فارسی یا انگلیسی جستجو کنم، نتایج یکی خواهد بود؟ </h3>
            <p>بله. قسمت فارسی و انگلیسی وبسایت قرینه یکدیگر هستند. به عنوان مثال، اگر کلمه «غذا» را به فارسی، یا &quot;food&quot; را به انگلیسی جستجو کنید، نتایج یکسانی را خواهید یافت.</p>
            <h3><a name="q10" id="q10"></a>از چه سیستم آوانگاری در تبدیل اسامی و اماکن  فارسی به انگلیسی استفاده شده؟ </h3>
            <p>برای اسامی افراد و اماکن، عمومأ از سیستم کتابخانه کنگره استفاده شده است، و بنابراین، ممکن است با طریقه نوشتن معمول فرق کند. سیستم آوانگاری انتخاب شده در وبسایت برداشتی ساده تر از</p> 
            <p>
            ALA-LC Romanization Tables for Persian
            </p>
            <p> می باشد، که در اغلب فهرست نگاری کتابخانه های دیجیتالی، استفاده می شود. اگر اسم و یا نام مکانی نتیجه ای را بدست نمی دهد، از املاء های دیگر استفاده کنید. برای اطلاعات بیشتر به «نکاتی برای کمک به جستجو» رجوع کنید.</p>
            <h3><a name="q11" id="q11"></a>طریق صحیح ارجاع به مدارک آرشیو چیست؟</h3>
            <p>ارجاع به اسناد باید شامل نام «دنیای زنان در عصر قاجار»، یو ار ال سند، نام مخزن اصلی سند (چنانچه نهاد دیگری باشد) و اطلاعات توصیفی مربوط به سند را شامل باشد، نظیر:</p>
            <ul class="simple">
              <li>نام نویسنده\آفریننده</li>
              <li>عنوان فقره و مجموعه ای که بدان تعلق دارد</li>
              <li>عنوان پرونده (چنانچه بخشی از پرونده بزرگتری باشد)</li>
              <li>توصیف فقره</li>
              <li>شماره شناسایی (چنانچه باشد)</li>
            </ul>
            <h3><a name="q12" id="q12"></a>برای چاپ و یا دانلود چه باید بکنم؟</h3>
            <p> در صفحه سند مورد نظر با استفاده از ستون راهنمای سمت راست یکی از گزینه های زیر را انتخاب کنید:</p>
            <ul class="simple">
              <li>دانلود پی دی اف: برای دیدن نمونه قابل چاپ</li>
              <li>دانلود تصاویر: برای فایل زیپ تصاویر جی پگ با کیفیت عالی</li>
              <li>متن تایپی و یا ترجمه انگلیسی: اسنادی که متن تایپی و یا ترجمه انگلیسی داشته باشند، قابل ذخیره و چاپ است.</li>
            </ul>
            <h2><a name="s3" id="s3"></a>سوالهای فنی مربوط به وبسایت «دنیای زنان در عصر قاجار»</h2>
            <h3><a name="q13" id="q13"></a>برای استفاده از وبسایت به چه نرم افزاری نیازمندم؟</h3>
            <p>مرورگرهایی چون فایرفاکس، سفاری، کروم و نسخه های تازه اینترنت اکسپلورر مناسب ترینند. برای دسترسی به تصاویر با تفکیک قوی نیاز به پلاگین ادوب فلاش دارید که از سایت ادوب می توانید پیاده کنید: www.adobe.com</p>
            <h3><a name="q14" id="q14"></a>از چه سیستم فنی در ساختمان این سایت استفاده شده است؟</h3>
            <p>این آرشیو با استفاده از روبی آن ریل و پایگاه داده های مرتبط مایسکیول کار می کند.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial :footer %>
