<%= partial :header %>
<div id="content">
  <div class="container clearfix">
    <div class="clearfix shaded-panel">
      <div class="page-head">
        <div class="extra-padding">
          <% if @lang.to_sym == :en %>
            <%# TODO: I18n all the things %>
            <h1>Related Links</h1>
            <p><strong>Harvard University Library Digital Resources</strong><br />
            The Harvard University Library (HUL) central infrastructure accommodates all image, text, and audio materials collected by WWQI. These materials can be accessed through the following Harvard University Library catalogues as well:</p>
            <ul>
              <li> <a href="http://discovery.lib.harvard.edu/" target="blank"><strong>HOLLIS Catalog</strong></a><br />
              <li> <a href="http://via.lib.harvard.edu/via/deliver/advancedsearch?_collection=via" target="blank"><strong>VIA Visual Resources</strong></a><br />
              <li> <a href="http://oasis.lib.harvard.edu/oasis/deliver/advancedsearch?_collection=oasis" target="blank"><strong>OASIS Archival Finding Aid</strong></a><br/></p>
              </li>
            </ul>
            <p>
            <a href="http://pds.lib.harvard.edu/pds/view/6665026?n=1&imagesize=1200&jp2Res=.125" target="blank"><strong>Ali Khan Album</strong></a><br/>
            The ‘Ali Khan Vali photographic album is a unique artifact of more than 1,420 photographs of people and places in Azerbajian (Northwest Iran) during the years from 1879 to 1896.</p>
            <p>
            <a href="http://ted.lib.harvard.edu/ted/deliver/home?_collection=iohp" target="blank"><strong>Harvard University Iranian Oral History Project</strong></a><br/>
            A collection of oral histories of 134 individuals who played major roles in or were eyewitnesses to important political events in Iran from the 1920s to the 1980s. The database contains 118 narratives available to researchers.</p>
            <p>
            <a href="http://ocp.hul.harvard.edu/ihp/" target="blank"><strong>Islamic Heritage Project</strong></a><br />
            A digital collection of over 280 manuscripts, 275 printed texts, and 50 maps, totaling over 156,000 pages. Users can search or browse online materials that date from the 10th to the 20th centuries CE. </p>
            <p>
            <a href="http://unitproj.library.ucla.edu/dlib/minasian/project.cfm" target="blank"><strong>Caro Minasian Collection Digitization Project</strong></a> <br />
            A &quot;long-term&quot; project of UCLA's library collection of manuscripts created in order for users to have more access to the material online.</p>
            <p>
            <a href="http://www.qajarstudies.org/" target="blank"><strong>International Qajar Studies Association</strong></a><br />
            The Association holds an annual conference on the Qajar era and publishes a scholarly journal, Qajar Studies.<br />
            </p>
            <p>
            <a href="http://www.ical.ir/" target="blank"><strong>Majlis Library, Museum and Document Center</strong></a><br />
            The Majlis Library and Museum has a large selection of manuscripts available to researchers. Through a section called &quot;Rasan&quot;, visitors to the site can browse digital facimilies of more than 30,000 items.<br />
            </p>
            <p>
            <a href="http://www.marashilibrary.com/" target="blank"><strong>The Grand Library of The Great Ayatollah Marashi Najafi</strong></a><br />
            Based in Qum, the Marashi Library is one of the largest and most important libraries in the country. Founded by the Great Ayatollah Marashi Najafi, the Library houses a large collection of rare manuscripts and books. <br />
            </p>
            <p>
            <a href="http://www.nlai.ir/" target="blank"><strong>National Library and Archives of Islamic Republic of Iran</strong></a><br />
            The library and national archives has the mission of collecting and preserving documents of national significance in a single institution, and creating public access to them. The site has more than 1 million records in various formats, including audio, photos, stamps and more.<br />
            </p>
            <p>
            <a href="http://www.malekmuseum.org/" target="blank"><strong>Malek National Library and Museum Institute</strong></a><br />
            With over 19,000 manuscripts from the 7th to 20th centuries, Malek is one of the largest repositories of manuscripts in Iran.<br />
            </p>
            <p>
            <a href="http://www.cgie.org.ir/" target="blank"><strong>Center for the Great Islamic Encyclopedia</strong></a><br />
            An encyclopedia of the Islamic world, as well as an electronic library, home to more than 500,000 rare manuscripts.<br />
            </p>
            <p>
            <a href="http://www.iichs.org/" target="blank"><strong>Institute for Iranian Contemporary Historical Studies</strong></a><br />
            The Institute digitizes and catalogues manuscripts and works between the 18th and 20th century. According to its web-site: &quot;The archives of the Institute hold public and private collections, memoirs of prominent individuals in various languages, historical slides and films and official decorations belonging to the Qajar and Pahlavi dynasties as well as tens of thousands of photographs of Iranian and foreign dignitaries, events and buildings.&quot;<br />
            </p>
            <p>
            <a href="http://www.iichs.org/index.asp?doc_cat=9" target="blank"><strong>The Electronic Women's Magazine of the Institute</strong></a><br />
            A website devoted to topics related to women in contemporary Iran. <br />
            </p>
            <p>
            <a href="http://library.ut.ac.ir/persian/index.htm" target="blank"><strong>Tehran University Central Library</strong></a><br />
            One of the largest university libraries in Iran and home to a large collection of manuscripts and other archival materials.<br />
            </p>
            <p>
            <a href="http://www.aghabozorg.ir/" target="blank"><strong>Agha Bozorg Database</strong></a><br />
            An online database for searching manuscripts in various repositories.<br />
            </p>
            <p>
            <a href="http://zakhair.net/" target="blank"><strong>Digital Library of Oriental Documents and Manuscripts</strong></a><br />
            Founded by Sayyid Ahmad Husayni Ishkivari, with a mission to gather and digitize Persian manuscripts, including copies of rare books. </p>
            <p>
            <a href="http://www.aqlibrary.org/index.php" target="blank"><strong>Organization of Libraries, Museums, and Documents Center of Astan Quds Razavi</strong></a><br /> 
            One of the largest and most important repositories of manuscripts, lithographs, and other archival materials in Iran. </p>
          <% else %>
            <h1>پیوندها</h1>
            <p>
            <strong>  منابع دیجیتال کتابخانه دانشگاه هاروارد</strong><br />

            سازمان مرکزی کتابخانه دانشگاه هاروارد جایگاه تمامی عکس ها، متون، و
            منابع شنیداری جمع آوری شده برای این آرشیو است.  تمامی آثار موجود در وب
            سایت «دنیای زنان در عصر قاجار» را می توان از لینک فهرست کتابخانه
            دانشگاه هاروارد نیز یافت.</p> 
            <ul>
              <li>
              <a 
                href="http://discovery.lib.harvard.edu" target="_blank"><strong>HOLLIS کاتالوگ</strong></a><br />
              <li>  <a href="http://via.lib.harvard.edu/via/deliver/advancedsearch?_collection=via" target="_blank"><strong>VIA منابع تصویری</strong></a><br />
              <li>  <a href="http://oasis.lib.harvard.edu/oasis/deliver/advancedsearch?_collection=oasis" target="_blank"><strong>OASIS کمک جستجوی آرشیوی</strong> </a><br/></p>
            </ul>
            <p>
            <a href="http://pds.lib.harvard.edu/pds/view/6665026?n=1&imagesize=1200&jp2Res=.125" target="blank"><strong>آلبوم عکس علی خان والی</strong></a><br/>
            آلبوم عکس علی خان والی متن بی نظیری است که حاوی بیش از ۱۴۲۰ عکس افراد و اماکن است که علی خان والی در دوره حکومت خود در نواحی مختلف آذربایجان ایجاد کرد. عکسها همه با مشخصات فردی و مکانی است و در بسیاری صفحات مطالب مفصلی، همچون سفرنامه و  گزارش، در حواشی عکسها به نگارش درآمده است.</p>
            <p>
            <a href="http://ocp.hul.harvard.edu/ihp" target="_blank"><strong>پروژه میراث اسلامی</strong></a><br />
            برنامه مجموعه های آزاد دانشگاه هاروارد بیش از ۲۸۰ نسخه خطی، ۲۷۵ نسخه چاپی، و ۵۰ نقشه را که بالغ بر ۱۵۶۰۰۰ صفحه می شود به شکل دیجیتال درآورده است. کاربران می توانند این مجموعه را آنلاین ببینند و جستجو کنند. از لحاظ زمانی این مجموعه حاوی نسخه هایی از قرن دهم تا قرن بیستم است و اسناد مربوطه نواحی گسترده ای -- عربستان سعودی، آفریقای شمالی، مصر، سوریه، لبنان، فلسطین، ایران، عراق، ترکیه، و آسیای مرکزی، جنوبی و جنوب شرقی -- را شامل می شود. زبان اسناد بیشتر عربی، فارسی، و ترکی عثمانی است ولی اسناد اردو، جغتایی، مالای، گجاراتی، زبانهای هندی و چند زبان اروپایی را نیز در بر می گیرد. موضوع نسخه ها شامل متون مذهبی و تفاسیر، متون صوفیه، تاریخ، جغرافیا، قانون،  علوم (نجوم، اسطرلاب، ریاضی، طب)، شعر و ادبیات، کلام، منطق، و فلسفه، خطاطی، فرهنگ لغات و دستور زبان، و همچنین شرح حال و حدیث نفس می باشد.<br />
            </p>
            <p>
            <a href="http://unitproj.library.ucla.edu/dlib/minasian/project.cfm" target="_blank"><strong>پروژه دیجیتالی کردن مجموعه کارو میناسیان</strong></a><br />
            پروژه دراز مدت کتابخانه دانشگاه کالیفرنیا، لس آنجلس، شامل دیجیتالیزه کردن نسخه های خطی موجود برای دسترسی اینترنتی منابع.<br />
            </p>
            <p>
            <a href="http://www.qajarstudies.org" target="_blank"><strong>انجمن بین المللی مطالعات قاجار</strong></a><br />
            انجمن بین المللی مطالعات قاجار، کنفرانس های سالیانه درباره عهد قاجار برگزار می کند و مجله علمی ای به عنوان Qajar Studies  در همین زمینه منتشر می کند.<br />
            </p>
            <p>
            <a href="http://www.ical.ir" target="_blank"><strong>کتابخانه، موزه و مرکز اسناد مجلس شورای اسلامی</strong></a><br />
            کتابخانه و مرکز اسناد مجلس شورای اسلامی حاوی منابع وسیعی از نسخ خطی برای استفاده پژوهشگران می باشد. از طریق قسمت رسان، می توان نسخه های دیجیتال بیش از سی هزار نسخه خطی کتابخانه را قرائت کرد.<br />
            </p>
            <p>
            <a href="http://www.marashilibrary.com" target="_blank"><strong>گنجینه خطی کتابخانه بزرگ آیت الله العظمی مرعشی نجفی</strong></a><br />
            کتابخانه آیت الله مرعشی در قم، یکی از بزرگترین و مهمترین کتابخانه و مرکز اسناد خطی در ایران است. این کتابخانه که توسط آیت الله مرعشی بنیانگزاری شده است، حاوی حجم بزرگی از نسخ و کتب خطی ارزشمند می باشد.<br />
            </p>
            <p>
            <a href="http://www.nlai.ir" target="_blank"><strong>سازمان اسناد و کتابخانه ملی جمهوری اسلامی ایران</strong></a><br />
            هدف سازمان اسناد و کتابخانه ملی که شامل دو بخش اسناد و کتابخانه است، جمع آوری و نگهداری از منابع مهم تاریخی کشور، و قابل دسترسی کردن آنها برای عموم است. این  وب سایت شامل ۱ میلیون منبع در اشکال متفاوت، از جمله شنیداری، عکس، تمبر، و غیره می باشد.</p>
            <p>
            <a href="http://www.marashilibrary.com" target="_blank"><strong>کتابخانه و موزه ملی ملک</strong></a><br />
            کتابخانه و موزه ملک، با بیش از ۱۹۰۰۰ نسخه خطی از قرن هفتم تا بیستم، یکی از شش گنجینه بزرگ نسخه های خطی در ایران است.<br />
            </p>
            <p>
            <a href="http://www.cgie.org.ir" target="_blank"><strong>مرکز دائرة المعارف بزرگ اسلامی</strong></a><br />
            مرکز دائرة المعارف بزرگ اسلامی، علاوه بر نشر  دائرة المعارف، دارای کتابخانه بزرگی است که بیش از ۵۰۰ هزار نسخه خطی و نادر را دارا می باشد. این مرکز یکی از بزرگترین منابع نسخه خطی در ایران است.<br />
            </p>
            <p>
            <a href="http://www.iichs.org" target="_blank"><strong>مؤسسه مطالعات تاریخ معاصر ایران</strong></a><br />
            هدف این موسسه جمع آوری نسخه های خطی و کتب از دوران معاصر ایران است. بنابر آنچه در وب سایت آمده: آرشیو حاوی مجموعه های خصوصی و ملی، مانند خاطرات و نامه های رجال سیاسی به زبانهای مختلف، اسلاید ها، فیلم، مدال و نشان و ده ها هزار عکس از سیاستمداران ایرانی و خارجی،  از ابتدای دوره قاجار تا پايان سلطنت پهلوی است.<br />
            </p>
            <p>
            <a href="http://www.iichs.org/index.asp?doc_cat=9" target="_blank"><strong>بخش مجله الکترونیک زنان این مؤسسه</strong></a><br />
            مطالبی در باره زنان در ایران معاصر منتشر می کند.<br />
            </p>
            <p>
            <a href="http://library.ut.ac.ir/persian/index.htm" target="_blank"><strong>کتابخانه مرکزی دانشگاه تهران</strong></a><br />
            یکی از بزرگترین کتابخانه های دانشگاهی در ایران، کتابخانه مرکزی دانشگاه تهران مجموعه بزرگی از نسخه های خطی و کتب را دارا می باشد.<br />
            </p>
            <p>
            <a href="http://www.aghabozorg.ir" target="_blank"><strong>بانک اطلاعات کتب و نسخ خطی</strong></a><br />
            با جستجو در این سایت، می توان محل نگهداری نسخه خطی یا کتب را یافت.<br />
            </p>
            <p>
            <a href="http://zakhair.net" target="_blank"><strong>کتابخانه دیجیتالی نسخه های خطی و اسناد شرقی</strong></a><br />
            کتابخانه دیجیتالی نسخه های خطی و اسناد شرقی، توسط سید احمد حسینی اشکوری بنیان گذاشته شده است، و هدف اصلی آن جمع آوری و دیجیتالی کردن نسخه های خطی ایرانی و کتب نادر است.<br />
            </p>
            <p>
            <a href="http://www.aqlibrary.org/index.php" target="_blank"><strong>سازمان کتابخانه ها، موزه ها و مرکز اسناد آستان قدس رضوی</strong></a><br />
            یکی از بزرگترین و مهمترین مجموعه های کتب، نسخه های نادر خطی و غیره در ایران، مرکز اسناد آستان قدس رضوی است.</p>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= partial :footer %>
