html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 16px Helvetica, sans-serif;
  background: #eee;
}

.container {
  background: #fff;
  margin: 0 auto;
  width: 960px;
  padding: 2em;
  min-height: 1000px;
  box-shadow: 0px 0px 5px #ddd;
}

ul li {
  list-style: none;
  display: block;
  border-bottom: 1px solid #eee;
  padding: 2em 0;
  pointer: cursor;

  .thumbnail {
    display: block;
    min-width: 150px;
    float: left;
    height: 200px;
    background-color: #ddd;
    margin-right: 1em;
    padding: 1em;

    img {
      max-width: 150px;
      padding: 0;
      margin: 0;
    }
  }

  a .name-and-description {
    display: block;
    vertical-align: top;

    &:after {
      clear: both;
      display: block;
      content: ".";
      visibility: hidden;
    }

    .name {
      font-size: 125%;
      display: block;
      margin-bottom: .5em;
    }

  }
}

ul.search-results {
  width: 80%;
  display:inline-block;

  li { 
    a {
      display: block;
      text-decoration: none;
      color: #333;
    }
    &:hover {
      background-color: #eeeeee;
    }
  }
}

ul.search-facets {

  display:inline-block;
  float:left;
  width: 15%;

  padding-top:2em;
  padding-left:5px;

  li {
    padding:1em 0;

    ul {
      padding-left:15px;
      a {
        text-decoration: none;
        display: block;
        color: #333;
      }
      li {
        padding:5px; 

        .term-count {
          float:right;
        }

        &:hover {
          background-color: #eee;
        }
      }
    }

  }
}




