<%= partial :header %>
<div id="content" class="static-content">
  <div class="container clearfix white-paper-stack top-of-page"><div class="stacks"></div></div>
  <div class="container clearfix">
    <div class="clearfix shaded-panel">
      <div>
        <div class="extra-padding">
          <%= @object.body %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial :footer %>
