<%= partial :header %>
<div id="content" class="static-content">
  <div class="container clearfix white-paper-stack top-of-page"><div class="stacks"></div></div>
  <div class="container clearfix">
    <div class="clearfix shaded-panel">
      <div>
        <div class="extra-padding">
          <% if @lang.to_sym == :en %>
            <h1> Permissions</h1>
            <p>All materials in the Women's Worlds in Qajar Iran digital archive are publicly available for the purposes of teaching and/or individual research. Any other use, including commercial reuse, mounting on other systems, or other forms of redistribution, requires permission of Harvard University.</p>
            <p>Any published work using materials from Women's Worlds in Qajar Iran must cite this archive and when applicable the holder of the original materials. </p>
          <% else %>
            <h1>مجوزات حقوقی</h1>
            <p>استفاده از کلیه مطالب آرشیو «دنیای زنان در عصر قاجار» برای عموم به منظور کارهای پژوهشی و یا تدریس آزاد است. هر استفاده دیگر، از جمله استفاده تجاری، انتقال به سایر سیستمهای اینترنتی، و یا سایر انواع پخش، مستلزم کسب اجازه از دانشگاه هاروارد است.</p><p> استفاده از  مطالب آرشیو «دنیای زنان در عصر قاجار» در آثار چاپی مستلزم ذکر این آرشیو به عنوان منبع و در موارد لازم کسب اجازه از صاحبان اصلی اسناد است. </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial :footer %>
