<html>
  <body>
    <ul>
      <% @results.each do |result| %>
        <li>
          <a href="http://wwqi-static-site.s3.amazonaws.com<%= result.url %>"><%= result.name_en %></a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
