<html lang='fa' dir='rtl'>
  <head>
    <link rel="stylesheet" href="/stylesheet/main.css">
  </head>
  <body>
    <div class="container">
      <%= erb :_search_form_fa %>
    </div>
  </body>
</html>
