/* Elastislide Style */
.es-carousel-wrapper{
	padding:10px 35px;
	position:relative;
}
.es-carousel{
	overflow:hidden;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
	overflow: hidden;
	cursor: pointer;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
	position:relative;
}
.es-carousel ul li a  span{

}

.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	width:100%;
}
.es-nav span{
	position:absolute;
	top:38px;
	left:0px;
	background:#777 url(../images/nav-prev.png) no-repeat 50% 50%;
	width:35px;
	height:372px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
	z-index:10000;
	overflow:hidden;
}
.es-nav span.es-nav-next{
	right:0px;
	left:auto;
	background-position:100% 50%;
	background:#777 url(../images/nav-next.png) no-repeat 50% 50%;
}
.es-nav span:hover{
	opacity:1.0;
}