/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */


body{
    font-size: 75.0%;
    line-height:1.667em;
    font-family: Arial, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-image:url(../images/papertexture.png);
    background-position:top center;
    background-repeat:repeat;
    background-color:#72808a;

}


a{outline-width:0px;color:#decc9d;}
a img {border:none;}
a:link, a:active, a:visited{text-decoration:none;}
a:hover{text-decoration:none;}

.box-transition {
  -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.2s ease-out;  /* FF4+ */
      -ms-transition: all 0.2s ease-out;  /* IE10? */
       -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
          transition: all 0.2s ease-out;
}
.inline-block{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.right{float:right}
.left{float:left}


/* AltFooterStick for making the footer stick to the bottom 
-------------------------------------------------------------- */

html{height: 100%;}
body{height: 100%;}
#nonFooter{position: relative;min-height: 100%;}
* html #nonFooter{height: 100%;}
#content{padding-bottom: 300px}
#pageFooterWrapper{position: relative;margin-top: -300px}



/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { 
    font-weight: bold;
    font-family:"Helvetica Neue Light","HelveticaNeue-Light","Helvetica Neue",Arial,Helvetica,sans-serif;
}
h4, h5, h6 { color:#decc9d }
h1, h2 { font-weight:200; }
h3, h4, h5, h6 { font-weight:400; }

h1 { font-size: 22px; line-height: 1em; margin-bottom: 0.5em;color:#decc9d; color:#666; border-bottom:1px dotted #000; padding-bottom:15px; }
h2 { font-size: 18px; margin-bottom:0.761em; line-height:1.167em; color:#decc9d; }
h3 { font-size: 1.50em; line-height: 1.25em; margin-bottom:.5em; color:#decc9d; margin-top:.5em }
h4 { font-size: 1.167em; line-height: 1.25;color:#990000; }
h5 { font-size: 1.167em; margin-bottom:10px; font-weight:bold; text-transform:uppercase; color:#A3A798 }
h6 { font-size: 1em; }


/* header styles
-------------------------------------------------------------- */

.header{
    margin:0;
    position:relative;
	height:140px;
}
.header .toolbar{
	background:#000;
	border-bottom:1px solid #444;
	height:40px;
	line-height:40px;
	position:relative;
}

.header .toolbar h1{
    margin:0 0 0 140px;
	padding:0;
	color:#fff;
	height:40px;
	line-height:40px;
	float:left;
	font-family:Georgia, serif;
	font-size:17px;
	font-weight:normal
}

.header .toolbar .branding{
    display:block;
    margin-top:-11px;
    height:144px;
	width:128px;
    background:url(../images/flag.png) 0 0 no-repeat;
    text-indent: -9999px;
	position:absolute;
	z-index:1000;
}
.header .toolbar .branding:hover{margin-top:-3px}

.header .toolbar ul{float:right; margin:0; padding:0}
.header .toolbar ul li{display:inline;padding:0 10px;}
.header .toolbar li a{color: #DECC9D; font-weight:bold;}
.header .toolbar li a:hover{text-decoration:underline}

span.notification{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	color:#fff;
	height:16px;
	line-height:16px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	padding:0 5px;
	font-weight:normal;
	background:#cb0015;
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#ec7780), to(#cb0015)); /* Saf4+, Chrome */
  	background-image: -webkit-linear-gradient(top, #ec7780, #cb0015); /* Chrome 10+, Saf5.1+, iOS 5+ */
  	background-image:    -moz-linear-gradient(top, #ec7780, #cb0015); /* FF3.6 */
  	background-image:     -ms-linear-gradient(top, #ec7780, #cb0015); /* IE10 */
  	background-image:      -o-linear-gradient(top, #ec7780, #cb0015); /* Opera 11.10+ */
  	background-image:         linear-gradient(top, #ec7780, #cb0015);
    
	text-shadow:0px 1px 0px #000;
	border:2px solid #fff;
	-moz-box-shadow:0px 0px 3px #000;
	-webkit-box-shadow:0px 0px 3px #000;	
	box-shadow:0px 0px 3px #000;
	font-weight:bold;
}

.header .menu{
	height:80px;
	background:url(../images/black_paper.png);
	border-bottom:1px solid #CFCAC4;
	line-height:55px;
}

.header .menu ul{
	margin:0px 0 0px 120px; padding:0;
}

.header .menu ul li{
	display:block;
	float:left;
	height:55px;
	margin:0;
	padding:0;
}
.header .menu ul li a{
	display:block;
	float:left;
	height:75px;
	padding:12px 25px 0;
	border-right:1px solid #444;
	font-size:16px;
	font-weight:normal;
	color:#fff;
	margin:0;
}
.header .menu ul li a:hover{
	background:#C4311D;
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#DF4C3C), to(#C4311D))!important; /* Saf4+, Chrome */
  	background-image: -webkit-linear-gradient(top, #DF4C3C, #C4311D)!important; /* Chrome 10+, Saf5.1+, iOS 5+ */
  	background-image:    -moz-linear-gradient(top, #DF4C3C, #C4311D)!important; /* FF3.6 */
  	background-image:     -ms-linear-gradient(top, #DF4C3C, #C4311D)!important; /* IE10 */
  	background-image:      -o-linear-gradient(top, #DF4C3C, #C4311D)!important; /* Opera 11.10+ */
  	background-image:         linear-gradient(top, #DF4C3C, #C4311D)!important;
}

.header .menu ul li span{
	display:block;
	clear:both;
	font-size:12px;
	font-family:'Times New Roman', serif;
	font-weight:normal;
	color:#aaa;
}



/* content
-------------------------------------------------------------- */
#content .item-page,
#content .shaded-panel{
	background:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	margin-bottom:30px;
	margin-top:-32px;
}


#content .page-head{
	background:url(../images/bg-stack.png) 0 0 repeat-x;
	padding:34px 15px 15px;
}

#content .dark-list{
	background:#222;
}

#content .extra-padding{
	padding:30px;
}


/* item details
-------------------------------------------------------------- */
.item-page .item-head{
	background:url(../images/bg-stack.png) 0 0 repeat-x;
	padding:24px 15px 15px;
}

.item-page .item-head .add_this_tools{
	float:right;
	width:255px;
}

.item-page .item-head .item-tools a{
	color:#333;
	margin:10px 5px 0;
}
.item-page .item-head .item-tools a img{
	position:relative;
	top:2px;
}

.item-essentials{
	position:relative;
	background:#efefef;
	padding:15px 0;
	border-top:1px dotted #000;
	border-bottom:1px dotted #000;
}

.item-thumbnail{
	text-align:center;
	position:relative;
}

.item-thumbnail .item-image-frame{
	background:url(../images/bg-frame.png) 50% 50% no-repeat;
	height:241px;
}
.item-thumbnail img{
	margin:42px 0 0;
	width:173px;
	height:173px;
}

.item-essentials h2{
	
	color: #333;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 0;
	padding-bottom: 10px;
	text-shadow: 1px 1px 0 #EEE;
	margin-bottom: 0px;
	padding-right:25px;
}

.item-essentials p.description{
	color:#555;
	font-size:15px;
	line-height:22px;
	padding-right:25px;
	margin-top:0;
	padding-top:10px;

}

.item-thumbnail .image-count{
	display:block;
	position:absolute;
	top:15px;
	height:20px;
	left:8px;
	padding:0 10px 0 5px;
	line-height:20px;
	background:url(../images/bg_white_ribbon.png) top right no-repeat;
	color:#777;
	font-size:10px;
}

.item-audio{
	background:#000;
	padding:20px 20px 10px;
}
.item-translation{
	background:#333;
	padding:10px 20px;
}
.item-transcript{
	background:#555;
	padding:10px 20px;
}
.item-audio h1{
	padding-left:40px;
	background:url(../images/icon-audio.png) 0 0 no-repeat;
	color:#fff;
	min-height:32px;
	line-height:32px;
	border-bottom:1px dotted #fff;
	padding-bottom:10px;
}

.item-audio h5{
	color:#fff;
	font-size:14px;
	line-height:17px;
}
.item-links{
	background:#C82D00;
	padding:20px;
}
.item-links h1,
.item-transcript h1,
.item-translation h1{
	padding-left:40px;
	background:url(../images/icon-image.png) 0 0 no-repeat;
	color:#fff;
	min-height:32px;
	line-height:32px;
	border-bottom:1px dotted #fff;
	padding-bottom:10px;
	margin-bottom:0;
}

.item-transcript h1{
	background:url(../images/icon-transcript.png) 0 0 no-repeat;
}
.item-translation h1{
	background:url(../images/icon-translation.png) 0 0 no-repeat;
}
.item-links a{
	color:#fff;
	display:block;
	padding:8px 15px;
	border-bottom:1px dotted #fff;
	font-weight:normal;
	font-family:Helvetica, sans-serif;
	font-size:14px;
	background:url(../images/bg-link.png) 95% 50% no-repeat;
}

.item-transcript a,
.item-translation a{
	color:#fff;
	display:block;
	padding:8px 15px;
	font-weight:normal;
	font-family:Helvetica, sans-serif;
	font-size:14px;

}

.item-links a:last-child{border:none;}

.item-links a:hover{
	background-color:#000;
}
.item-translation a:hover,
.item-transcript a:hover{
  	background:#000;
}


.item-below-fold{
	color:#666;
	
}

.last-column{
	float:right!important;
}

.item_related{

}
.item-details{
	list-style:none;
	padding:20px;
}


.item_related ul li.title{
	color:#888;
	font-size:12px;
	font-weight:bold;
}

.item_related .title{
	min-height:20px;
	line-height:20px;
	padding: 10px 0 10px 25px;
	border-bottom:1px dotted #000;
	margin-bottom:10px;
}

.item_related .title.subject{
	background:url(../images/icon-subjects.png)  0 50% no-repeat;
}
.item_related .title.genre{
	background:url(../images/icon-genres.png)  0 50% no-repeat;
}
.item_related .title.place{
	background:url(../images/icon-places.png)  0 50% no-repeat;
}
.item_related .title.people{
	background:url(../images/icon-people.png)  0 50% no-repeat;
}
.item-details ul li,
.item_related ul li{
	list-style:none;
	margin:0;
	padding:4px 0;
	overflow:hidden;
	clear:left;
}

.jp-controls li{
	overflow:visible!important;
}

.item-details ul li:last-child,
.item_related ul li:last-child{
	border:none;
}

.item_related ul li{

}
.item-details ul li.description{
	font-size:12px;
}
.item-details ul li span,
.item_related ul li span{
	font-weight:bold;
	color:#333;
	margin:0;
	padding:0;
}
.item_related ul li span{
	display:block;
}

.item-details ul li a{
	color:#CA3723;
}

.item-details ul li ul{
	margin:0px;
}

.item-details ul li ul li{
	padding:4px 0 4px 10px;
	margin:0;
	border:none;
	background:url(../images/bullet.gif) 0 50% no-repeat;
}


 .textButton{
	color:#fff;
	display:block;
	margin:0;
	padding:2px 0;
	border-bottom:1px solid #333;
	overflow:hidden;
}

img.icon{
	width:16px!important;
	height:16px!important;
	float:left;
	margin:0 3px 0 0;
}

#item_details_wrapper{

	overflow:hidden;
}

#email-popup-content h2{
	margin:10px 0;
	padding:0;
	font-size:22px;
}

#email-popup-content input[type=text]{
	width:50px;
	height:18px;
}

#email-popup-content .form_row{
	margin:0 0 5px 0;
}

#email-popup-content input[type=submit]{
	border:none;
	margin-top:10px;
}

#email_confirmation p {
	text-align: center;
	padding-top: 10px;
}

#email-popup-content input[disabled]{
	opacity:0.3;
}

#email-popup-content{
	width:400px;
	
}

#print-popup-content h2{
	margin:10px 0;
	padding:0;
	font-size:22px;
}

#print-popup-content input[type=text]{
	width:50px;
	height:18px;
}

#print-popup-content .form_row{
	margin:0 0 5px 0;
}

#print-popup-content input[type=submit]{
	border:none;
	margin-top:10px;
}

#print-popup-content input[disabled]{
	opacity:0.3;
}

#print-popup-content{
	width:200px;
	
}

.tag{
	background:url(../images/bullet.gif) 0 5px no-repeat;
	color:#CA3723!important;
	display:inline-block;
	font-size:12px;
	line-height:14px;
	padding:0px 8px 0;
	text-decoration:none;
	margin:0 4px 6px 4px;

}


.block{
	display:block!important;
}
.clear{
	clear:left!important;
}


/* Collections List
-------------------------------------------------------------- */
ul.collections li{
	margin:0;
	padding:0;
}
ul.collections li a{
	display:block;
	padding:25px 0;
	border-bottom:1px solid #393939;
}
ul.collections li a:hover{
	background:#333;
}
ul.collections li .collection-thumb{
	float:left;
	width:150px;
	margin-left:30px;
	position:relative;
}
ul.collections li .collection-meta{
	margin-left:200px;
	margin-right:30px;
}
ul.collections li .collection-thumb img{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	width:100%;
	z-index:6;
	position:relative;
	bottom:auto!important;
	border: 1px solid rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.8);
}
ul.collections li .collection-thumb .layer1,
ul.collections li .collection-thumb .layer2{
	position:absolute;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.8);
	padding:0px;
	top:1px;
	background: -moz-linear-gradient(center bottom, #ffffff 0%, #fefefe 40%, #fefefe 100%);
	background: -o-linear-gradient(center bottom, #ffffff 0%, #fefefe 40%, #fefefe 100%);
	background: -webkit-linear-gradient(bottom, #ffffff 0%, #fefefe 40%, #fefefe 100%);
	border: 1px solid rgba(34, 25, 25, 0.25);
}
ul.collections li .collection-thumb .layer1{
	z-index:2;
	right:0px;
	left:2px;
	bottom:2px;
}
ul.collections li .collection-thumb .layer2{
	z-index:1;
	right:2px;
	left:4px;
	bottom:-1px;
}

ul.collections li a span.date{
	display:block;
	font-weight:bold;
	color: #D3515E;
	 background-image: url(../images/sprites-dots.png);
	background-position: 0px -211px;
	background-repeat:no-repeat;
	padding-left:20px;
	margin:0;
}

ul.collections li a h3{
	color:#fff;
	font-weight:bold;
	padding:0;
	margin:0px 0 10px 0;
}

ul.collections li a p{
	color:#9E9E9E;
}
ul.collections li a .collection-essentials{
	margin-right:70px;
	border-right:1px solid #393939;
	padding-right:10px;
}
ul.collections li a .items-in-collection{
	float:right;
	width:50px;
	font-size:10px;
	color:#ccc;
	margin-top:20px;
	text-align:center;
}
ul.collections li a .items-in-collection strong{
	font-size:29px;
	display:block;
	color:#fff;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.header{
			height:auto;
		}
		.header .toolbar{
			height:auto;
		}
		.header .toolbar .branding{
			width:51px;
			height:57px;
			background-size:100%;
			margin-top:-5px;
		}
		.header .toolbar ul{
			display:block;
			background:#000;
			float:right;
			margin-top:-14px;
		}
		.header .toolbar h1{
			margin-left:60px;
			font-size:16px;
		}
		.header .menu{
			line-height:auto;
			height:auto;
		}
		.header .menu ul {
			margin: 0px;
		}
		.header .menu ul li,
		.header .menu ul li a,
		.header .menu ul {
			float:left;
			display:block;
			height:auto;
			font-size:14px;
		
		}
		.header .nav ul{margin:0}
		.header .menu ul li a{
			display:block;
			float:none;
			padding:10px 6px;
		}
		.header .menu ul li:last-chil a{
			border:none;
		}
		.header .menu ul li span{display:none}
		.header .menu ul li.sub{
			float:left;
			padding:0;
			margin:0;
		}
		.header .menu ul li.sub a{
		}
		.header .menu ul li a:hover{
			background:transparent!important;
		}
		
		#content .item-page{
			margin-top:10px;
		}
		.item-essentials{
			padding-bottom:0px;
		}
		.item-thumbnail .item-image-frame{
			background-size:90%;
			height:430px;
		}
		.item-thumbnail img{
			width:70%;
			height:auto;
			margin-top:79px;
		}
		
		.item-links,
		.item-links a{
			-moz-border-radius:0;
			-webkit-border-radius:0;
			border-radius:0;
		}
		.item-essentials h2,
		.item-essentials p{
			padding-left:10px;
		}
		
		.item_related{padding:15px}
		ul.collections li .collection-thumb{
			float:left;
			width:70px;
			margin-left:30px;
			position:relative;
		}
		ul.collections li .collection-meta{
			margin-left:120px;
			margin-right:30px;
		}
		ul.collections li a .collection-essentials{
			margin-right:50px;
		
		}
		ul.collections li a .items-in-collection{
			width:30px;
		
		}
		ul.collections li a .items-in-collection strong{
			font-size:20px;
		}
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
			.item-thumbnail .item-image-frame{
				background-size:90%;
				height:310px;
			}
			.item-thumbnail img{
				width:70%;
				height:auto;
				margin-top:59px;
			}
			ul.collections li .collection-thumb{
				float:none;
				width:auto;
				margin-left:30px;
				margin-right:30px;
			}
			ul.collections li .collection-thumb img{
				width:100%;
			}
			ul.collections li .collection-meta{
				margin-left:30px;
				margin-right:30px;
				margin-top:10px;
			}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/